@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}
body {
    background-color: rgb(63, 63, 197);
    min-height: 100vh;
}

input {
    border-radius: 10px;
    border: solid black 1px;
    font-size: 1rem;
    padding: 3px 5px;
    outline: none;
}

input:focus {
    outline: solid rgb(0, 153, 255) 2px;
    outline-offset: 0px;
    border-color: transparent;
}

button {
    padding: 5px;
    font-weight: bold;
    border: none;
    margin-left: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

button:enabled:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
body > div {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 20px auto;
    padding: 15px;
    width: fit-content;
    border: none;
    border-radius: 15px;
    display: grid;
    /* justify-content: center; */
    text-align: center;
}
.name {
    font-size: 1.6rem;
}
.temp {
    font-size: 2.5rem;
}
.description {
    font-size: 1.2rem;
}
body > div > div:first-of-type {
    display: flex;
    align-items: center;
}
img {
    height: 60px;
    width: auto;
}
